<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false" thread-count="5" verbose="1">

    <!--Values Chrome Firefox HLChrome HLFirefox HTMLUnit phantomJS-->
    <parameter name="browser" value="Firefox"/>

    <!--Values AdminURL StatementURL PatientURL-->
    <!-- <parameter name="URL" value="Value"/>-->

     <!--Values QA Dev Uat Prod -->
    <parameter name="env" value="test"/>
    <test name="Tests">
        <classes>
            <class name="runner.RunFeaureTests"/>
        </classes>

    </test>
</suite>